{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block header %}{% endblock %}
{% block breadcrumb %}{% endblock %}

{% block inner %}
  <div class="container">
    <div class="row align-items-center justify-content-center mt-15" style="height: 500px">

      <div class="col-12 card card-body">
        <h1>{% trans "Account Inactive" %}</h1>

        <p>{% trans "This account is inactive." %}</p>

      </div>
    </div>
  </div>
{% endblock %}

