{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block header %}{% endblock %}
{% block breadcrumb %}{% endblock %}

{% block inner %}
  <div class="container">
    <div class="row justify-content-center" style="">

      <div class="col-12 card card-body mb-10">
        <h1>{% trans "Sign Up" %}</h1>

        <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>
          .{% endblocktrans %}</p>

        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form|crispy }}
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
          <div class="text-center text-muted text-uppercase fw-bolder mb-5">or</div>
            <div>
                <!--begin::Google link-->
                <a href="https://accounts.google.com/signin/v2/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&service=mail&sacu=1&rip=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin" class="btn btn-flex flex-center btn-light btn-lg w-100 mb-5">
                <img alt="Logo" src="{% static 'assets/media/svg/brand-logos/google-icon.svg' %}" class="h-20px me-3" />Continue with Google</a>
                <!--end::Google link-->
                <!--begin::Google link-->
                <a href="#" class="btn btn-flex flex-center btn-light btn-lg w-100 mb-5">
                <img alt="Logo" src="{% static 'assets/media/svg/brand-logos/facebook-4.svg' %}" class="h-20px me-3" />Continue with Facebook</a>
                <!--end::Google link-->
                <!--begin::Google link-->
                <a href="#" class="btn btn-flex flex-center btn-light btn-lg w-100">
                <img alt="Logo" src="{% static 'assets/media/svg/brand-logos/apple-black.svg' %}" class="h-20px me-3" />Continue with Apple</a>
                <!--end::Google link-->
            </div>
        </form>

      </div>
    </div>
  </div>
{% endblock %}





