{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block header %}{% endblock %}
{% block breadcrumb %}{% endblock %}

{% block inner %}
  <div class="container">
    <div class="row align-items-center justify-content-center" style="height: 400px">

      <div class="col-8 offset card card-body">
        <h1 class="text-center mb-10 mt-5">{% trans "Sign In" %}</h1>



        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form|crispy }}
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <button class="primaryAction btn btn-primary" type="submit">{% trans "Sign In" %}</button>
        </form>

      </div>
    </div>
  </div>
{% endblock %}

