#board
{
  /* background-image: url('../images/zamma.png'); */
  /* width : 775px;
  height: 775px; */
  background-image: url('../images/zamma_360_indexed.png');
  /* padding : 4px; */
  width : 360px;
  height: 360px;
  position:relative ;
  display:inline-block;
  flex-wrap: wrap;
  flex-direction : horizontal;
  flex-flow : space-between;
  touch-action: manipulation; /*to disable the double tap zoom on mobile devices*/
  -webkit-filter: drop-shadow(3px 3px 3px #222);
  filter: drop-shadow(3px 3px 3px #222);
}
#dhamet_container{
  text-align: center;

}
