#board
{
  /* background-image: url('../images/zamma.png'); */
  /* width : 775px;
  height: 775px; */
  background-image: url('../images/zamma.jpg');
  /* padding : 4px; */
  width : 630px;
  height: 630px;
  display:inline-block;
  flex-wrap: wrap;
  flex-direction : horizontal;
  flex-flow : space-between;
  touch-action: manipulation; /*to disable the double tap zoom on mobile devices*/
}
