.Piece
{
  width : 32px;
  height : 32px;
  display : inline-block;
  position: absolute;
  -webkit-filter: drop-shadow(3px 3px 3px #222);
  filter: drop-shadow(3px 3px 3px #222);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  touch-action: manipulation; /*to disable the double tap zoom on mobile devices*/
}
.anim-appear
{
    transform : scale(0.7) translateY(-80%) translateX(-80%);
}

.anim-appear.anim-appear-active
{
    transform : scale(1) translateY(-50%) translateX(-50%) ;
    transition : transform 500ms ease-in;
}
.anim-enter
{
    transform: scale(0.7) translateY(-80%) translateX(-80%);
}
.anim-enter.anim-enter-active
{
    transform : scale(1) translateY(-50%) translateX(-50%);
    transition : transform 500ms ease-in;
}

.anim-exit
{
    transform: scale(1) translateY(-50%) translateX(-50%);
}
.anim-exit-active
{
    transform: scale(0.0) translateY(-80%) translateX(-80%);
    transition : transform 500ms ease-in;
}

.Black_regular
{
  /* background-image: url('../images/Black_regular.png'); */
  /* background-image: url('../images/BR-1.png'); */
  background-image: url('../images/regular_0_32.png');

  /* background-image: url('../images/regular_0_v2.png'); */
}
.White_regular
{
  /* background-image: url('../images/White_regular.png'); */
  background-image: url('../images/regular_1_32.png');
}
.Black_dhaimat
{
  background-image: url('../images/dhaimat_0_32.png');
  /* background-image: url('../images/dhaimat_0_v2.png'); */
}
.White_dhaimat
{
  background-image: url('../images/dhaimat_1_32.png');
}
