.Piece
{
  width : 60px;
  height : 60px;
  display : inline-block;
  position: absolute;
  -webkit-filter: drop-shadow(3px 3px 3px #222);
  filter: drop-shadow(3px 3px 3px #222);
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  touch-action: manipulation; /*to disable the double tap zoom on mobile devices*/
}
.Black_regular
{
  /* background-image: url('../images/Black_regular.png'); */
  /* background-image: url('../images/BR-1.png'); */
  background-image: url('../images/regular_0_65.png');
  /* background-image: url('../images/regular_0_v2.png'); */
}
.White_regular
{
  /* background-image: url('../images/White_regular.png'); */
  background-image: url('../images/regular_1_65.png');
}
.Black_dhaimat
{
  background-image: url('../images/dhaimat_0.png');
  /* background-image: url('../images/dhaimat_0_v2.png'); */
}
.White_dhaimat
{
  background-image: url('../images/dhaimat_1.png');
}
