.Piece
{
  width : 70px;
  height : 70px;
  display : inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Black_regular
{
  background-image: url('../images/Black_regular.png');
}
.White_regular
{
  background-image: url('../images/White_regular.png');
}
.Black_dhaimat
{
  background-image: url('../images/Black_Dhaimat.png');
}
.White_dhaimat
{
  background-image: url('../images/White_Dhaimat.png');
}
