</DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name = "viewport"  content ="width=device-width ,initial-scale=1">
        <title>Dhamet</title>
        {% load static %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <link 
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"/>
        <link
            rel = "stylesheet" 
            type = "text/css"
            href = "{% static 'css/index.css'  %}"
            />
    </head>
    <body>
        <div id ="main">
            <h3 id = "h3Title">Game : </h3> 
            <div id ="app">
                <div id="root">
                    This is the main static Html page Containing only the board
                    <div id="board"></div>
                    <div id="Moves_log"></div>>
                </div>     
            </div>
                
                
        </div>
             <!-- this is where the page arguments are passed -->
             <!-- ------------------------------------------------------ -->
             {{ game_code|json_script:"game_code" }}
             <!-- ------------------------------------------------------ -->
             
<script src = "{% static 'frontend/main.js' %}"></script>
<script>
    // const game_code = JSON.parse(document.getElementById('game_code').textContent);
    // document.getElementById("h3Title").innerHTML+=game_code;
    // let current = 1;
    // const chatSocket = new WebSocket(
    //     'ws://'
    //     + window.location.host
    //     + '/DhametCode/'
    //     + 'move/'
    //     + game_code
    //     + '/'
    // );

    // chatSocket.onmessage = function(e) {
    //     const data = JSON.parse(e.data);
    //     console.log("We should have received a message");
    //     console.log(data);
    //     document.querySelector('#app').value += (data.message + '\n');
    // };

    // chatSocket.onclose = function(e) {
    //     console.error('Chat socket closed unexpectedly');
    // };

    // document.querySelector('#board').onclick = function(e) {
    //     console.log("clicked on baord");
    //     chatSocket.send(JSON.stringify({
    //         "id" : current,
    //         'message': message,
    //         "game_code" : 123,
    //     }));
    //     messageInputDom.value = '';
    // };
</script>

    </body>
</html>