<div class="w-lg-500px p-10 p-lg-15 mx-auto">
  <!--begin::Form-->
  <form class="form w-100" novalidate="novalidate" id="kt_sign_in_form" action="#">
    
    <!--begin::Input group-->
    <div class="text-center">
      <!--begin::Submit button-->
      <button type="submit" id="kt_sign_in_submit" class="btn btn-lg btn-primary w-100 mb-5" onclick="window.location.href='main/authentication/layouts/basic/sign-in.html'">
        <span class="indicator-label">Se connecter</span>
        <span class="indicator-progress">Please wait...
        <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
      </button>
      
    </div>
    <!--end::Input group-->
    <div class="text-center">
      <!--begin::Submit button-->
      <button type="submit" id="kt_sign_in_submit" class="btn btn-lg btn-primary w-100 mb-5" onclick="window.location.href='main/authentication/layouts/basic/sign-in.html'">
        <span class="indicator-label">Jouer En tant que visiteur</span>
        <span class="indicator-progress">Please wait...
        <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
      </button>
      
    </div>
    <!--begin::Input group-->
    

  </form>
  <!--end::Form-->
</div>
<!--end::Wrapper-->
</div>
    </div>
    </div>
    </div>
    