body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#board 
{
  background-image: url('../src/assets/zamma.png');
  width : 775px;
  height: 775px;
  display:inline-block;
  flex-wrap: wrap;
  flex-direction : horizontal;
  flex-flow : space-between;
}

