#board
{
  /* background-image: url('../images/zamma.png'); */
  /* width : 775px;
  height: 775px; */
  background-image: url('../images/zamma757.jpg');
  padding : 4px;
  width : 757px;
  height: 757px;
  display:inline-block;
  flex-wrap: wrap;
  flex-direction : horizontal;
  flex-flow : space-between;
  touch-action: manipulation; /*to disable the double tap zoom on mobile devices*/
}
